html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", Arial, Sans-serif; 
  font-size: 14px;
  line-height: 21px;
  font-weight: 400; 
  color: #333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 21px;
  line-height: 21px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.shadow {
  position: relative;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.header-page {
  position: relative;
}

.header-logo {
  position: absolute;
  left: calc(50% - 138px/2); /*Ширина логотипа 138, нужно разделить на 2, для центровки*/

  width: 138px;
  height: 70px;
}

.navigation-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  line-height: 26px;
  font-weight: 700;

  background-color: #fff;
}

.navigation-main .menu-left,
.navigation-main .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.navigation-main li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 0;
  width: 239px;
  height: 56px;

  text-align: center;
}

.navigation-main a {
  color: black;
}

.navigation-main a:hover,
.navigation-main a:focus {
  color: #81b3d2
}

.navigation-main a:active {
  color: rgba(0, 0, 0, 0.3)
}

.body-main-page {
  background-color: #fff;
}

.intro-desc {
  margin: 0 auto;
  margin-bottom: 51px;
  width: 490px;

  text-align: center;
}

.intro-img {
  margin-bottom: 55px;
}

.intro-desc strong {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.intro-desc p {
  margin: 0;
  margin-top: 26px;

  line-height: 26px;
}

.reasons {
  margin-bottom: 50px;
}

.five-reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.five-reasons .reason-first {
  width: 100%;
}

.reason-wrapper {
  position: relative;

  padding-top: 47px;
  padding-bottom: 39px;
  width: 400px;

  text-align: center;
  line-height: 21px;
  color: #fff;

  background-color: #81b3d2;
}

.reason-wrapper h3 {
  margin: 0;
  margin-bottom: 25px;
}

.reason-wrapper p {
  margin: 20px 0;
}

.reason-first .reason-wrapper::after {
  content: "";

  position: absolute;
  top: 0;
  left: 400px;

  width: 800px;
  height: 256px;

  background-image: url(../img/town.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reasons-real-town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.reasons-real-town li {
  position: relative;
  display: block;

  padding-top: 161px;
  padding-bottom: 80px;
  width: 400px;

  text-align: center;
}

.reasons-real-town h3 {
  margin: 0;
  margin-bottom: 25px;
  color: #000;
}

.reasons-real-town p {
  margin: 0;
}

.reasons-real-town li:first-of-type::after {
  position: absolute;

  content: "";
  top: 60px;
  left: 162px;

  width: 75px;
  height: 72px;

  background-image: url(../svg/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reasons-real-town li:nth-last-of-type(2)::after {
  position: absolute;

  content: "";
  top: 61px;
  left: 161px;

  width: 74px;
  height: 70px;

  background-image: url(../svg/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reasons-real-town li:last-of-type::after {
  position: absolute;

  content: "";
  top: 56px;
  left: 168px;

  width: 64px;
  height: 76px;

  background-image: url(../svg/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reason-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.reason-second .reason-wrapper {
  margin-left: auto;
}

.reason-second .reason-wrapper::before {
  content: "";

  position: absolute;
  top: 0;
  right: 400px;

  width: 800px;
  height: 256px;

  background-image: url(../img/devil-bridge.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reason-other {
  padding-top: 47px;
  padding-bottom: 39px;
  width: 400px;

  text-align: center;
  line-height: 21px;

  background-color: #eee;
}

.reason-other h3 {
  margin: 0;
  margin-bottom: 25px;
  color: #000;
}

.reason-other p {
  margin: 20px 0;
}

.hotel-search {
  position: relative;

  text-align: center;
}

.hotel-search b {
  display: block;

  margin-bottom: 28px; 

  font-size: 30px;
  line-height: 36px;
  color: #000;  
}

.hotel-search p {
  margin: 0;
}

.hotel-search p {
  margin-bottom: 50px;
}

.button-search-hotel {
  display: inline-block;

  width: 568px;
  padding: 30px 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;

  background-color: #766357;
  border: none;

  cursor: pointer;
}

.button-search-hotel:hover,
.button-search-hotel:focus {
  background-color: #604e43;  
}

.button-search-hotel:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-search .map {
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 36px 0;
  width: 1200px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-page .visit {
  margin-left: 133px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.footer-page .visit:hover,
.footer-page .visit:focus {
  color: #81b3d2;
}

.footer-page .visit:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-page .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 256px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  margin-left: 6px;

  background-color: #81b3d2;  
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.social li:first-of-type .social-button {
  margin-left: 0;
}

.footer-page .logo-html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: 228px;
}

.logo-html span {
  line-height: 26px;
  color: #000;
}

.logo-html a {
  margin-left: 7px;
}

.logo-html a:hover path,
.logo-html a:focus path {
  fill: #81b3d2;
}

.logo-html a:active path {
  fill: #bdbbbc;
}

@-webkit-keyframes shake {
  0%,
  100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
  }

  10%,30%,50%,70%,90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px)
  }

  20%,40%,60%,80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px)
  }
}

@keyframes shake {
  0%,
  100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
  }

  10%,30%,50%,70%,90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px)
  }

  20%,40%,60%,80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px)
  }
}

.modal {
  display: none;
  position: absolute;
  bottom: 202px;
  left: 50%;
  width: 458px;
  padding: 55px;
  margin-left: -284px;

  color: #000;

  background-color: #fff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
}

.modal-show {
  display: block;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.form-search-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-search-hotel p {
  position: relative;
  margin: 0;
}

.form-search-hotel label {
  line-height: 26px;
  font-weight: 700;
}

.form-search-hotel input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 340px;       /*по макету 346, но в IE 11 не влезает, и перенос, я хз*/
  padding: 6px 13px; 
  padding-right: 32px;
  margin-left: 20px;
  margin-bottom: 30px;

  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;

  cursor: pointer;
}

.form-search-hotel input:hover {
  background-color: #ebebeb;
}

.form-search-hotel input:focus {
  background-color: #fff;
  border: 2px solid #ebebeb;
}

.form-search-hotel input[name="date-output"] {
  margin-left: 16px;
}

.form-search-hotel input[name="adults"],
.form-search-hotel input[name="children"] {
  width: 38px;
  padding: 6px 12px;
  margin: 0;
}

.form-search-hotel input[name="adults"] {
  margin-left: 75px;
  margin-right: 95px;
}

.form-search-hotel input[name="children"] {
  margin-left: 59px;
}

.form-search-hotel input {
  height: 38px;           /*IE 11 не правильно видит высоту input, почему?*/
}

.form-search-hotel .btn-form{
  content: "";

  position: absolute;
  padding: 0;

  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  border: none;  

  cursor: pointer;
}

.form-search-hotel  label[for="adults"] ~ .btn-minus {
  top: 0;
  left: 112px;
}

.form-search-hotel label[for="children"] ~ .btn-minus {
  top: 0;
  left: 63px;
}

.form-search-hotel label[for="adults"] ~ .btn-plus {
  top: 0;
  left: 188px;
}

.form-search-hotel label[for="children"] ~ .btn-plus {
  top: 0;
  left: 138px;
}

.form-search-hotel .btn-minus::before {
  content: "";

  position: absolute;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.form-search-hotel .btn-plus::before,
.form-search-hotel .btn-plus::after {
  content: "";
  z-index: 1;

  position: absolute;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.form-search-hotel .btn-plus::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}


.form-search-hotel label[for="adults"] ~ .btn-minus::before,
.form-search-hotel label[for="children"] ~ .btn-minus::before,
.form-search-hotel label[for="adults"] ~ .btn-plus::before,
.form-search-hotel label[for="adults"] ~ .btn-plus::after,
.form-search-hotel label[for="children"] ~ .btn-plus::before,
.form-search-hotel label[for="children"] ~ .btn-plus::after {
  top: 47%;
  left: 13px;
}

.form-search-hotel .btn-plus:hover::after,
.form-search-hotel .btn-plus:hover::before,
.form-search-hotel .btn-minus:hover::before,
.form-search-hotel .btn-plus:focus::after,
.form-search-hotel .btn-plus:focus::before,
.form-search-hotel .btn-minus:focus::before {
  background-color: #000;
}

.form-search-hotel .btn-plus:active::after,
.form-search-hotel .btn-plus:active::before,
.form-search-hotel .btn-minus:active::before {
  background-color: #81b3d2;
}

.form-search-hotel .btn-calendar {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  width: 23px;
  height: 23px;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.form-search-hotel .btn-calendar:hover path,
.form-search-hotel .btn-calendar:focus path {
  fill: #000;
}

.form-search-hotel .btn-calendar:active path {
  fill: #81b3d2;
}

.form-search-hotel .button-search {
  width: 100%;
  padding: 16px 0;
  margin-top: 55px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;


  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.form-search-hotel .button-search:hover,
.form-search-hotel .button-search:focus {
  background-color: #669ec0;
}

.form-search-hotel .button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/*page-hotels*/

.header-page .site-navigation-current,
.header-page .site-navigation-current:hover,
.header-page .site-navigation-current:focus,
.header-page .site-navigation-current:active {
  color: #766357;
}

.filters {
  background-color: #fff;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 27px;
  padding-bottom: 6px;

  color: #fff;

  background: #81b3d2 url(../img/hotels-fon.jpg) no-repeat 0 0;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-left: 73px;

  border: none;
}

.filter legend {
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  padding: 0px;
  margin: 0px;
}

.filter-option {
  margin-left: 40px;
  margin-bottom: 25px;
}

.filter-option label {
  position: relative;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url(../svg/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url(../svg/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url(../svg/checkbox-dis.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter .type-housing {
  margin-left: 117px;
}

.filter .cost {
  margin-left: 349px;
}

.cost .filter-range {
  width: 330px;
}

.cost .filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.cost .price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  height: 40px;  /*для IE 11, иначе обрезает элемент*/
  margin: 0;

  color: inherit;
  font:inherit;

  background: none;
  border:none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000;

  background-color: #fff;
}

.filters .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort {
  padding: 30px 0;

  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.sort .found {
  margin-left: 72px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.sort-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-left: 48px;
  padding-top: 6px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

.sort-form p {
  margin: 0;
}

.sort-form ul {
  padding: 0;
  margin: 0;
}

.sort-form .sort-type,
.sort-form .sort-type-max-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-type li {
  margin-left: 33px;
}

.sort-type li:first-of-type {
  margin-left: 40px;
}

.sort-type label {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2; 

  cursor: pointer;
}

.sort-type label:hover,
.sort-type label:focus {
  color: #81b3d2;
}

.sort-type label:active {
  color: #000;
  border-bottom: none;
}

.sort-type input:checked + label {
  color: #81b3d2;
  border-bottom: none;
}

.sort-form .sort-type-max-min {
  margin-left: 506px;
}

.sort-type-max-min label {
  cursor: pointer;
}

.sort-type-max-min label[for="sort-min"] {
  margin-left: 12px;
}

.sort-type-max-min label path {
  fill: #cacaca;
}

.sort-type-max-min label:hover path,
.sort-type-max-min label:focus path {
  fill: #000;
}

.sort-type-max-min label:active path,
.sort-type-max-min input:checked + label path {
  fill: #81b3d2;
}

.housing-all {
  background-color: #fff;
}

.housing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 25px 72px;

  border-bottom: 1px solid #e5e5e5;
}

.housing img {
  margin: 5px 0;
}

.housing-info {
  margin-left: 30px;
}

.housing-info h3 {
  margin: 0;
  margin-bottom: 8px;

  line-height: 26px;
}

.housing-info a {
  color: #000;
}

.housing-info p {
  margin: 0;
  margin-bottom: 13px;
}

.housing-info .housing-name:hover,
.housing-info .housing-name:focus {
  color: #81b3d2;
}

.housing-info .housing-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.housing-info .housing-type {
  display: inline-block;

  min-width: 95px;
}

.housing-info .housing-price {
  margin-left: 21px;
}

.housing-info .button-more,
.housing-info .button-book {
  display: inline-block;
  padding: 3px 0;

  text-align: center;
  font-weight: 700;
  color: #fff;
}

.button-more {
  width: 110px;

  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.button-book {
  width: 142px;
  margin-left: 3px;

  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.housing-rating {
  margin-left: 522px;  

  text-align: right;
}

.housing-rating .stars {
  display: inline-block;
  margin-top: 3px;
  margin-left: 19px;
  margin-bottom: 42px;

  width: 90px;
  height: 17px;

  background-image: url(../svg/star.svg);
  background-repeat: repeat-x;
  background-position: -3px 0;
  background-size:  auto;
}

.housing-rating .rating {
  width: 110px;
  margin: 0;
  padding: 3px 0;

  text-align: center;
  color: #666;

  background-color: #f2f2f2;
}

.motel-desert .stars {
  width: 67px;
}

.apartment-villas .stars {
  width: 44px;
}

.page-hotels .footer-page {
  position: static;
}